# `04_data_cleaning π§Όπ“β¨`
λ°μ΄ν„° μ •μ 
- λ¶ν•„μ”ν• λ°μ΄ν„° μ‚­μ 
- μλ»λ λ°μ΄ν„° μμ •

In [15]:
import pandas as pd

df = pd.read_csv('./namsan.csv', encoding='EUC-KR', low_memory=False)

## λ°μ΄ν„° μ‚­μ

In [7]:
df.head(3)

,λ²νΈ,λ„μ„λ…,μ €μ,μ¶νμ‚¬,λ°ν–‰λ…„λ„,ISBN,μ„ΈνΈ ISBN,λ¶€κ°€κΈ°νΈ,κ¶,μ£Όμ λ¶„λ¥λ²νΈ,λ„μ„κ¶μ,λ€μ¶κ±΄μ,λ“±λ΅μΌμ,Unnamed: 13
0,1,κ°μ •μ„ μ΄ν•΄ν•λ” κ·Έλ¦Όμ±… νλ μ΄μ…,"κ·Έλ¦Όμ±…μ‹¬λ¦¬μ„±μ¥μ—°κµ¬μ†,κ°•νμ§„,κΉ€μ• μ΄,κΉ€μ€κ²½,λ°•μ†μ,μ¥λ―Έν,μ°¨μ—°μ£Ό μ§€μ",μ‚¬μ°,2025,9791194126027,NaN,0,NaN,181.7,1,0,2025-06-30,NaN
1,2,μ–΄λ¥Έμ κ΄€κ³„μ—λ” λ§μΉ¨ν‘κ°€ μ—†λ‹¤,κΉ€μ¬μ‹ μ§€μ,μ„μ¦λ¤ν•μ°μ¤,2025,9791171714285,NaN,0,NaN,818,1,0,2025-06-30,NaN
2,3,μ•„λ¬΄λ¦¬ λ†€λ ¤λ„ κ΄μ°®μ€ μ±…(λ…μ„μΉλ£μ©),λ°•ν‹°ν”,κ³°μ„Έλ§λ¦¬,2024,9791193366103,NaN,NaN,NaN,NaN,1,0,2025-06-30,NaN

In [ ]:
# μ¬λΌμ΄μ‹±μΌλ΅ κ°€λ¥μ€ ν•¨.
df.loc[:, 'λ²νΈ':'λ“±λ΅μΌμ'].head()

In [16]:
# μ»¬λΌλ“¤
print(df.columns)

# λ§μ¤ν‚Ή μƒμ„±
mask = df.columns != 'Unnamed: 13'
print(mask)

# μ¬λΌμ΄μ‹±
ns_df = df.loc[:, mask]
ns_df.head(3)

Index(['λ²νΈ', 'λ„μ„λ…', 'μ €μ', 'μ¶νμ‚¬', 'λ°ν–‰λ…„λ„', 'ISBN', 'μ„ΈνΈ ISBN', 'λ¶€κ°€κΈ°νΈ', 'κ¶',
       'μ£Όμ λ¶„λ¥λ²νΈ', 'λ„μ„κ¶μ', 'λ€μ¶κ±΄μ', 'λ“±λ΅μΌμ', 'Unnamed: 13'],
      dtype='object')
[ True  True  True  True  True  True  True  True  True  True  True  True
  True False]

,λ²νΈ,λ„μ„λ…,μ €μ,μ¶νμ‚¬,λ°ν–‰λ…„λ„,ISBN,μ„ΈνΈ ISBN,λ¶€κ°€κΈ°νΈ,κ¶,μ£Όμ λ¶„λ¥λ²νΈ,λ„μ„κ¶μ,λ€μ¶κ±΄μ,λ“±λ΅μΌμ
0,1,κ°μ •μ„ μ΄ν•΄ν•λ” κ·Έλ¦Όμ±… νλ μ΄μ…,"κ·Έλ¦Όμ±…μ‹¬λ¦¬μ„±μ¥μ—°κµ¬μ†,κ°•νμ§„,κΉ€μ• μ΄,κΉ€μ€κ²½,λ°•μ†μ,μ¥λ―Έν,μ°¨μ—°μ£Ό μ§€μ",μ‚¬μ°,2025,9791194126027,NaN,0,NaN,181.7,1,0,2025-06-30
1,2,μ–΄λ¥Έμ κ΄€κ³„μ—λ” λ§μΉ¨ν‘κ°€ μ—†λ‹¤,κΉ€μ¬μ‹ μ§€μ,μ„μ¦λ¤ν•μ°μ¤,2025,9791171714285,NaN,0,NaN,818,1,0,2025-06-30
2,3,μ•„λ¬΄λ¦¬ λ†€λ ¤λ„ κ΄μ°®μ€ μ±…(λ…μ„μΉλ£μ©),λ°•ν‹°ν”,κ³°μ„Έλ§λ¦¬,2024,9791193366103,NaN,NaN,NaN,NaN,1,0,2025-06-30

In [18]:
# μ§„μ§λ΅ μ»¬λΌ μ‚­μ ν• df λ¦¬ν„΄
df.drop(['λ¶€κ°€κΈ°νΈ', 'Unnamed: 13'], axis=1)

# λ¦¬ν„΄ λ§κ³  μ›λ³Έμ—μ„ μ‚­μ ν•κΈ°
df.drop(['λ¶€κ°€κΈ°νΈ', 'Unnamed: 13', 'μ£Όμ λ¶„λ¥λ²νΈ'], axis=1, inplace=True)

In [19]:
df.head(3)

,λ²νΈ,λ„μ„λ…,μ €μ,μ¶νμ‚¬,λ°ν–‰λ…„λ„,ISBN,μ„ΈνΈ ISBN,κ¶,λ„μ„κ¶μ,λ€μ¶κ±΄μ,λ“±λ΅μΌμ
0,1,κ°μ •μ„ μ΄ν•΄ν•λ” κ·Έλ¦Όμ±… νλ μ΄μ…,"κ·Έλ¦Όμ±…μ‹¬λ¦¬μ„±μ¥μ—°κµ¬μ†,κ°•νμ§„,κΉ€μ• μ΄,κΉ€μ€κ²½,λ°•μ†μ,μ¥λ―Έν,μ°¨μ—°μ£Ό μ§€μ",μ‚¬μ°,2025,9791194126027,NaN,NaN,1,0,2025-06-30
1,2,μ–΄λ¥Έμ κ΄€κ³„μ—λ” λ§μΉ¨ν‘κ°€ μ—†λ‹¤,κΉ€μ¬μ‹ μ§€μ,μ„μ¦λ¤ν•μ°μ¤,2025,9791171714285,NaN,NaN,1,0,2025-06-30
2,3,μ•„λ¬΄λ¦¬ λ†€λ ¤λ„ κ΄μ°®μ€ μ±…(λ…μ„μΉλ£μ©),λ°•ν‹°ν”,κ³°μ„Έλ§λ¦¬,2024,9791193366103,NaN,NaN,1,0,2025-06-30

In [23]:
# Col μ¤‘μ— ν•λ‚λΌλ„ NaN(λΉ„μ–΄μμ)μ΄λ©΄ ν•΄λ‹Ή Col μ‚­μ 
book_df = df.dropna(axis=1)
book_df.head(3)

# Colμ λ¨λ“  λ°μ΄ν„°κ°€ NaNμ΄λ©΄ ν•΄λ‹Ή col μ‚­μ 
book_df = df.dropna(axis=1, how='all')
book_df.head(3)

,λ²νΈ,λ„μ„λ…,μ €μ,μ¶νμ‚¬,λ°ν–‰λ…„λ„,ISBN,μ„ΈνΈ ISBN,κ¶,λ„μ„κ¶μ,λ€μ¶κ±΄μ,λ“±λ΅μΌμ
0,1,κ°μ •μ„ μ΄ν•΄ν•λ” κ·Έλ¦Όμ±… νλ μ΄μ…,"κ·Έλ¦Όμ±…μ‹¬λ¦¬μ„±μ¥μ—°κµ¬μ†,κ°•νμ§„,κΉ€μ• μ΄,κΉ€μ€κ²½,λ°•μ†μ,μ¥λ―Έν,μ°¨μ—°μ£Ό μ§€μ",μ‚¬μ°,2025,9791194126027,NaN,NaN,1,0,2025-06-30
1,2,μ–΄λ¥Έμ κ΄€κ³„μ—λ” λ§μΉ¨ν‘κ°€ μ—†λ‹¤,κΉ€μ¬μ‹ μ§€μ,μ„μ¦λ¤ν•μ°μ¤,2025,9791171714285,NaN,NaN,1,0,2025-06-30
2,3,μ•„λ¬΄λ¦¬ λ†€λ ¤λ„ κ΄μ°®μ€ μ±…(λ…μ„μΉλ£μ©),λ°•ν‹°ν”,κ³°μ„Έλ§λ¦¬,2024,9791193366103,NaN,NaN,1,0,2025-06-30