# 🤸Playground

In [1]:
menus = ['피자', '짜장면', '백반']
menus[0:1]

['피자']

In [7]:
menus = ['피자', '짜장면']
menus.append('샐러드')  # append함수는 무조건 맨 뒤에 추가됨.
menus.append('햄버거')
menus.insert(1, '단식')  # insert함수는 원하는 자리에 넣을 수 있음.
menus.insert(3, '마라탕')
menus

['피자', '단식', '짜장면', '마라탕', '샐러드', '햄버거']

In [1]:
# 001 print 기초
# 화면에 Hello World 문자열을 출력하세요.

print('Hello World')

Hello World

In [2]:
# 002 print 기초
# 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

print('Mary\'s cosmetics')

Mary's cosmetics

In [3]:
# 003 print 기초
# 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)

# 신씨가 소리질렀다. "도둑이야".

print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [4]:
# 004 print 기초
# 화면에 C:\Windows를 출력하세요.

print('C:\\Windows')

C:\Windows

In [ ]:
# 005 print 탭과 줄바꿈
# 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n은 줄바꿈 / /t는 Tab

안녕하세요.
만나서		반갑습니다.

In [ ]:
# 006 print 여러 데이터 출력
# print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.

print ("오늘은", "일요일")
# 오늘은 일요일

오늘은 일요일

In [11]:
# 007 print 기초
# print() 함수를 사용하여 다음과 같이 출력하세요.

# naver;kakao;sk;samsung

print('naver;kakao;sk;samsung')

naver;kakao;sk;samsung

In [12]:
# 008 print 기초
# print() 함수를 사용하여 다음과 같이 출력하세요.

# naver/kakao/sk/samsung

print('naver/kakao/sk/saumsung')

naver/kakao/sk/saumsung

In [16]:
# 009 print 줄바꿈
# 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. 
# (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

# print("first");print("second")
print("first", end='');print("second")

firstsecond

In [19]:
# 010 연산 결과 출력
# 5/3의 결과를 화면에 출력하세요.

print(5/3)

1.6666666666666667

In [27]:
# 011 변수 사용하기
# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

삼성전자 = 50000
print(f'{삼성전자 * 10}원')

500000원

In [29]:
# 012 변수 사용하기
# 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

# 항목	    값
# 시가총액	298조
# 현재가   50,000원
# PER	   15.79

시가총액 = 2980000000000
현재가 = 50000
PER = 15.79
print(시가총액, 현재가, PER)

2980000000000 50000 15.79

In [31]:
# 013 문자열 출력
# 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

# >> s = "hello"
# >> t = "python"
# 두 변수를 이용하여 아래와 같이 출력해보세요.

# 실행 예:
# hello! python

s = 'hello'
t = 'python'
print(f'{s}! {t}')

hello! python

In [33]:
# 014 파이썬을 이용한 값 계산
# 아래 코드의 실행 결과를 예상해보세요.

# >> 2 + 2 * 3 

2 + 2 * 3
# 8

8

In [ ]:
# 015 type 함수

# type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

# >> a = 128
# >> print (type(a))
# <class 'int'>
# 아래 변수에 바인딩된 값의 타입을 판별해보세요.

# >> a = "132"

a = '132'
print(type(a))
#<class 'str'>

<class 'str'>

In [36]:
# 016 문자열을 정수로 변환
# 문자열 '720'를 정수형으로 변환해보세요.

# >> num_str = "720"

num_str = '720'
num = int(num_str)

print(num, type(num))

720 <class 'int'>

In [38]:
# 017 정수를 문자열 100으로 변환
# 정수 100을 문자열 '100'으로 변환해보세요.

# num = 100

num = 100
string = str(num)

print(string, type(string))

100 <class 'str'>

In [39]:
# 018 문자열을 실수로 변환
# 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

num = '15.79'
number = float(num)

print(number, type(number))

15.79 <class 'float'>

In [41]:
# 019 문자열을 정수로 변환
# year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

# year = "2020"

year = '2020'
y = int(year)

print(y - 1)
print(y - 2)
print(y - 3)

2019
2018
2017

In [42]:
# 020 파이썬 계산
# 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 
# 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

air_month = 48584
total = air_month * 36

print(total)

1749024

In [45]:
# 021 문자열 인덱싱
# letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

# >> letters = 'python'
# 실행 예
# p t

letters = 'python'
print(letters[0], letters[2])

p t

In [52]:
# 022 문자열 슬라이싱
# 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

# >> license_plate = "24가 2210"
# 실행 예: 2210

license_plate = '24가 2210'
print(license_plate[-4:])

2210

In [53]:
# 023 문자열 인덱싱
# 아래의 문자열에서 '홀' 만 출력하세요.

# >> string = "홀짝홀짝홀짝"
# 실행 예:
# 홀홀홀

string = '홀짝홀짝홀짝'
print(string[::2])

홀홀홀

In [55]:
# 024 문자열 슬라이싱
# 문자열을 거꾸로 뒤집어 출력하세요.

# >> string = "PYTHON"
# 실행 예:
# NOHTYP

string = 'PYTHON'
print(string[::-1])

NOHTYP

In [57]:
# 025 문자열 치환
# 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

# >> phone_number = "010-1111-2222"
# 실행 예
# 010 1111 2222

phone_number = '010-1111-2222'
number = phone_number.replace('-', ' ')
print(number)

010 1111 2222

In [58]:
# 026 문자열 다루기
# 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

# 실행 예
# 01011112222

phone_number = '010-1111-2222'
number = phone_number.replace('-', '')
print(number)

01011112222

In [60]:
# 027 문자열 다루기
# url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

# >> url = "http://sharebook.kr"
# 실행 예:
# kr

url = 'http://sharebook.kr'
split_url = url.split('.')
print(split_url[-1])

kr

In [ ]:
# 028 문자열은 immutable
# 아래 코드의 실행 결과를 예상해보세요.

# >> lang = 'python'
# >> lang[0] = 'P'
# >> print(lang)

lang = 'python'
lang[0] = 'P'
print(lang)
# Error

TypeError: 'str' object does not support item assignment

In [62]:
# 029 replace 메서드
# 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

# >> string = 'abcdfe2a354a32a'
# 실행 예:
# Abcdfe2A354A32A

string = 'abcdfe2a354a32a'
print(string.capitalize())

Abcdfe2a354a32a

In [ ]:
# 030 replace 메서드
# 아래 코드의 실행 결과를 예상해보세요.

# >> string = 'abcd'
# >> string.replace('b', 'B')
# >> print(string)

string = 'abcd'
string.replace('b', 'B')
print(string)
# abcd - 문자열은 변경할 수 없기 때문에 원본이 출력된다.

abcd

In [ ]:
# 031 문자열 합치기
# 아래 코드의 실행 결과를 예상해보세요.

# >> a = "3"
# >> b = "4"
# >> print(a + b)

a = '3'
b = '4'
print(a + b)
# ab 단순히 합친 결과

34

In [ ]:
# 032 문자열 곱하기
# 아래 코드의 실행 결과를 예상해보세요.

# >> print("Hi" * 3)

print("Hi" * 3)
# HiHiHi

HiHiHi

In [67]:
# 033 문자열 곱하기
# 화면에 '-'를 80개 출력하세요.

# 실행 예:
# --------------------------------------------------------------------------------

print('-' * 80)

--------------------------------------------------------------------------------

In [70]:
# 034 문자열 곱하기
# 변수에 다음과 같은 문자열이 바인딩되어 있습니다.

# >>> t1 = 'python'
# >>> t2 = 'java'
# 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

# 실행 예:
# python java python java python java python java

t1 = 'python'
t2 = 'java'

print((t1 + ' ' + t2 + ' ') * 4)

python java python java python java python java

In [73]:
# 035 문자열 출력
# 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

# name1 = "김민수" 
# age1 = 10
# name2 = "이철희"
# age2 = 13
# 이름: 김민수 나이: 10
# 이름: 이철희 나이: 13

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print('이름: %s 나이: %d' %(name1, age1))
print('이름: %s 나이: %d' %(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
# 036 문자열 출력
# 문자열의 format() 메서드를 사용해서 035번 문제를 다시 풀어보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print('이름: {} 나이: {}'.format(name1, age1))
print('이름: {} 나이: {}'.format(name2, age2))
# 문자열의 포맷 메서드는 타입과 상관없이 값이 출력될 위치에 `{ }`를 적어주면 됩니다.

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [76]:
# 037 문자열 출력
# 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [77]:
# 038 컴마 제거하기
# 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

# 상장주식수 = "5,969,782,550"

상장주식수 = '5,969,782,550'
num = 상장주식수.replace(',', '')
number = int(num)

print(number, type(number))

5969782550 <class 'int'>

In [78]:
# 039 문자열 슬라이싱
# 다음과 같은 문자열에서 '2020/03'만 출력하세요.

# 분기 = "2020/03(E) (IFRS연결)"

분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

In [79]:
# 040 strip 메서드
# 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

# data = "   삼성전자    "

data = "   삼성전자    "
data.strip()

'삼성전자'

In [ ]:
# 041 upper 메서드
# 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

# ticker = "btc_krw"

ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [82]:
# 042 lower 메서드
# 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

# ticker = "BTC_KRW"

ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [83]:
# 043 capitalize 메서드
# 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

string = 'hello'
string.capitalize()

'Hello'

In [84]:
# 044 endswith 메서드
# 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

# file_name = "보고서.xlsx"

file_name = "보고서.xlsx"
file_name.endswith('xlsx')

True

In [87]:
# 045 endswith 메서드
# 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

# file_name = "보고서.xlsx"

file_name = "보고서.xlsx"
file_name.endswith('xlsx'), file_name.endswith('xls')

(True, False)

In [88]:
# 046 startswith 메서드
# 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

# file_name = "2020_보고서.xlsx"

file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [90]:
# 047 split 메서드
# 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

# a = "hello world"

a = "hello world"
a.split(' ')

['hello', 'world']

In [91]:
# 048 split 메서드
# 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

# ticker = "btc_krw"

ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [92]:
# 049 split 메서드
# 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

# date = "2020-05-01"

date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [93]:
# 050 rstrip 메서드
# 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

# data = "039490     "

data = "039490     "
data.rstrip()

'039490'

In [94]:
# 051 리스트 생성
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 
# 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

# 순위	영화
# 1	닥터 스트레인지
# 2	스플릿
# 3	럭키

movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [96]:
# 052 리스트에 원소 추가
# 051의 movie_rank 리스트에 "배트맨"을 추가하라.

movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [100]:
# 053
# movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. 
# "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

# movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [101]:
# 054
# movie_rank 리스트에서 '럭키'를 삭제하라.

# movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove('럭키')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [103]:
# 055
# movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

# movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
movie_rank.remove('스플릿')
movie_rank.remove('배트맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [106]:
# 056
# lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

# >> lang1 = ["C", "C++", "JAVA"]
# >> lang2 = ["Python", "Go", "C#"]
# 실행 예:
# >> langs
# ['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2

print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [109]:
# 057
# 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

# nums = [1, 2, 3, 4, 5, 6, 7]
# 실행 예:
# max:  7
# min:  1

nums = [1, 2, 3, 4, 5, 6, 7]
min_num = min(nums)
max_num = max(nums)

print(f'max: {max_num}\nmin: {min_num}')

max: 7
min: 1

In [110]:
# 058
# 다음 리스트의 합을 출력하라.

# nums = [1, 2, 3, 4, 5]
# 실행 예:
# 15

nums = [1, 2, 3, 4, 5]
total = 0

for i in nums:
    total += i
print(total)

15

In [113]:
# 059
# 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

# cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
count = len(cook)
print(count)

12

In [114]:
# 060
# 다음 리스트의 평균을 출력하라.

# nums = [1, 2, 3, 4, 5]
# 실행 예:
# 3.0

nums = [1, 2, 3, 4, 5]
total = 0
for i in nums:
    total += i
    average = total/len(nums)
print(average)

3.0

In [115]:
# 061
# price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

# price = ['20180728', 100, 130, 140, 150, 160, 170]
# 출력 예시:
# [100, 130, 140, 150, 160, 170]

price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [116]:
# 062
# 슬라이싱을 사용해서 홀수만 출력하라.

# nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# 실행 예:
# [1, 3, 5, 7, 9]

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [120]:
# 063
# 슬라이싱을 사용해서 짝수만 출력하라.

# nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# 실행 예:
# [2, 4, 6, 8, 10]

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [121]:
# 064
# 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

# nums = [1, 2, 3, 4, 5]
# 실행 예:
# [5, 4, 3, 2, 1]

nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [122]:
# 065
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

# interest = ['삼성전자', 'LG전자', 'Naver']
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자 Naver

interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[-1])

삼성전자 Naver

In [126]:
# 066 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

# interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [127]:
# 067 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

# interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [128]:
# 068 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

# interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자
# LG전자
# Naver
# SK하이닉스
# 미래에셋대우

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [130]:
# 069 문자열 split 메서드
# 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.

# string = "삼성전자/LG전자/Naver"
# 이를 interest 이름의 리스트로 분리 저장하라.

# 실행 예시
# >> print(interest)
# ['삼성전자', 'LG전자', 'Naver']

string = "삼성전자/LG전자/Naver"
string.split('/')

['삼성전자', 'LG전자', 'Naver']

In [133]:
# 070 리스트 정렬
# 리스트에 있는 값을 오름차순으로 정렬하세요.

# data = [2, 4, 3, 1, 5, 10, 9]

data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [134]:
# 071
# my_variable 이름의 비어있는 튜플을 만들라.

my_variable = ()
print(my_variable, type(my_variable))

() <class 'tuple'>

In [135]:
# 072
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 
# 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

# 순위	영화
# 1	닥터 스트레인지
# 2	스플릿
# 3	럭키

movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

In [137]:
# 073
# 숫자 1 이 저장된 튜플을 생성하라.

my_tuple = (1, )
print(my_tuple, type(my_tuple))

(1,) <class 'tuple'>

In [ ]:
# 074
# 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

# >> t = (1, 2, 3)
# >> t[0] = 'a'
# Traceback (most recent call last):
#   File "<pyshell#46>", line 1, in <module>
#     t[0] = 'a'
# TypeError: 'tuple' object does not support item assignment

t = (1, 2, 3)
t[0] = 'a'

# tuple은 원소(element)의 값을 변경할 수 없습니다.

TypeError: 'tuple' object does not support item assignment

In [ ]:
# 075
# 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

t = 1, 2, 3, 4
print(type(t))
# tuple / 원칙적으로 괄호를 통해 동작하지만 괄호 없이도 가능

<class 'tuple'>

In [144]:
# 076
# 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

t = ('a', 'b', 'c')
t = ('A', 'b', 'c')
print(t)

('A', 'b', 'c')

In [145]:
# 077
# 다음 튜플을 리스트로 변환하라.

interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest_list = list(interest)
print(interest_list, type(interest_list))

['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>

In [147]:
# 078
# 다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest_tuple = tuple(interest)
print(interest_tuple, type(interest_tuple))

('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>

In [ ]:
# 079 튜플 언팩킹
# 다음 코드의 실행 결과를 예상하라.

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)
# apple banana cake

apple banana cake

In [153]:
# 080 range 함수
# 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

# (2, 4, 6, 8 ... 98)

number = tuple(range(2, 100, 2))
print(number)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [155]:
# 081 별 표현식
# 기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 
# 하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다. 
# 튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.

# >> a, b, *c = (0, 1, 2, 3, 4, 5)
# >> a
# 0
# >> b
# 1
# >> c
# [2, 3, 4, 5]
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, 
# start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, a, b = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [156]:
# 082
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, 
# start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [157]:
# 083
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, 
# start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

a, *valid_score, c = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [158]:
# 084 비어있는 딕셔너리
# temp 이름의 비어있는 딕셔너리를 만들라.

temp = {}
print(temp, type(temp))

{} <class 'dict'>

In [159]:
# 085
# 다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

# 이름	희망 가격
# 메로나	1000
# 폴라포	1200
# 빵빠레	1800

icecream = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
print(icecream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [162]:
# 086
# 085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.

# 이름	희망 가격
# 죠스바	1200
# 월드콘	1500

icecream = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
icecream.update({'죠스바': 1200, '월드콘': '1500'})
print(icecream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': '1500'}

In [168]:
# 087
# 다음 딕셔너리를 사용하여 메로나 가격을 출력하라.

# ice = {'메로나': 1000,
#        '폴로포': 1200,
#        '빵빠레': 1800,
#        '죠스바': 1200,
#        '월드콘': 1500}
# 실행 예:
# 메로나 가격: 1000

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print(f'메로나 가격: {ice['메로나']}')

메로나 가격: 1000

In [170]:
# 088
# 다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

ice.update({'메로나': 1300})
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [173]:
# 089
# 다음 딕셔너리에서 메로나를 삭제하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

del ice(['메로나'])
print(ice)

SyntaxError: cannot delete function call (2786026666.py, line 10)

In [ ]:
# 090
# 다음 코드에서 에러가 발생한 원인을 설명하라.

icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']
# Traceback (most recent call last):
#   File "<pyshell#69>", line 1, in <module>
#     icecream['누가바']
# KeyError: '누가바'

# 딕셔너리에 없는 키를 사용해서 인덱싱하면 에러가 발생합니다.

KeyError: '누가바'

In [175]:
# 091 딕셔너리 생성
# 아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 
# 딕셔너리의 이름은 inventory로 한다.

# 이름	가격	재고
# 메로나	300	20
# 비비빅	400	3
# 죠스바	250	100

inventory = {'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [181]:
# 092 딕셔너리 인덱싱
# inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
# 실행 예시:
# 300 원

print(inventory['메로나'][0], '원')

300 원

In [182]:
# 093 딕셔너리 인덱싱
# inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
# 실행 예시:
# 20 개

print(inventory['메로나'][1], '개')

20 개

In [183]:
# 094 딕셔너리 추가
# inventory 딕셔너리에 아래 데이터를 추가하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
# 이름	가격	재고
# 월드콘	500	7
# 실행 예시:
# >> print(inventory)
# {'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

inventory.update({'월드콘': [500, 7]})
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [186]:
# 095 딕셔너리 keys() 메서드
# 다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

ice = list(icecream)
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [188]:
# 096 딕셔너리 values() 메서드
# 다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

ice = list(icecream.values())
print(ice)

[1200, 1200, 1800, 1500, 1000]

In [189]:
# 097 딕셔너리 values() 메서드
# icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
# 출력 예시:
# 6700

ice = list(icecream.values())
print(sum(ice))

6700

In [190]:
# 098 딕셔너리 update 메서드
# 아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
# new_product = {'팥빙수':2700, '아맛나':1000}
# 실행 예시:
# >> print(icecream)
# {'탱크보이': 1200,  '폴라포': 1200,  '빵빠레': 1800,  '월드콘': 1500,  '메로나': 1000,  '팥빙수':2700, '아맛나':1000}

icecream.update({'팥빙수':2700, '아맛나':1000})
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [191]:
# 099 zip과 dict
# 아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
# 실행 예시:
# >> print(result)
# {'apple': 300, 'pear': 250, 'peach': 400}

result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [192]:
# 100 zip과 dict
# date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
# 실행 예시:
# >> print(close_table)
# {'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

close_table = list(zip(date, close_price))
print(close_table)

[('09/05', 10500), ('09/06', 10300), ('09/07', 10100), ('09/08', 10800), ('09/09', 11000)]

In [ ]:
# 101
# 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

# bool 타입.

In [ ]:
# 102
# 아래 코드의 출력 결과를 예상하라

print(3 == 5)

#False

False

In [ ]:
# 103
# 아래 코드의 출력 결과를 예상하라

print(3 < 5)

# True

True

In [ ]:
# 104
# 아래 코드의 결과를 예상하라.

x = 4
print(1 < x < 5)

# True

True

In [ ]:
# 105
# 아래 코드의 결과를 예상하라.

print ((3 == 3) and (4 != 3))

# True

True

In [ ]:
# 106
# 아래 코드에서 에러가 발생하는 원인에 대해 설명하라.

print(3 => 4)

# 지원하지 않는 연산자입니다.

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2954263545.py, line 4)

In [ ]:
# 107
# 아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World")

# 조건을 만족하지 않기 때문에 아무 결과도 출력되지 않습니다.

In [ ]:
# 108
# 아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

# Hi, there.

Hi, there.

In [ ]:
# 109
# 아래 코드의 출력 결과를 예상하라

if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

# 1
# 2
# 4

1
2
4

In [ ]:
# 110
# 아래 코드의 출력 결과를 예상하라

if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

# 3
# 5

3
5

In [ ]:
# 111
# 사용자로부터 입력받은 문자열을 두 번 출력하라. 
# 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.

# >> 안녕하세요
# 안녕하세요안녕하세요

a = input()
print(a * 2)

안녕하세요안녕하세요

In [4]:
# 112
# 사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.

# >> 숫자를 입력하세요: 30
# 40

a = int(input())
print(a + 10)

60

In [11]:
# 113
# 사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.

# >> 30
# 짝수

a = int(input())
value = '홀수' if a_i % 2 else '짝수'
print(value)

짝수

In [17]:
# 114
# 사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 
# 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

# >> 입력값: 200
# 출력값: 220
# >> 입력값: 240
# 출력값: 255

a = int(input())
value = 255 if a + 20 > 255 else a + 20
print(value)

220

In [26]:
# 115
# 사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 
# 단 출력 값의 범위는 0~255이다. 
# 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.

# >> 입력값: 200
# 출력값: 180
# >> 입력값: 15
# 출력값: 0

a = int(input())
if a - 20 < 0:
    value = 0
elif a - 20 > 255:
    value = 255
else:
    value = a - 20
print(value)

0

In [30]:
# 116
# 사용자로부터 입력 받은 시간이 정각인지 판별하라.

# >> 현재시간:02:00
# 정각 입니다.
# >> 현재시간:03:10
# 정각이 아닙니다

now = input('현재시간: ')
l1 = now.split(':')
minute = l1[1]
if minute == '00':
    print('정각 입니다.')
else:
    print('정각이 아닙니다')

정각이 아닙니다

In [33]:
# 117
# 사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 
# 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

# fruit = ["사과", "포도", "홍시"]
# >> 좋아하는 과일은? 사과
# 정답입니다.

fruit = ["사과", "포도", "홍시"]
fav_fruit = input()
if fav_fruit in fruit:
    print('정답입니다.')
else:
    print('오답입니다.')

정답입니다.

In [35]:
# 118
# 투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 
# '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
investment_list = input()
if investment_list in warn_investment_list:
    print('투자 경고 종목입니다.')
else:
    print('투자 경고 종목이 아닙니다.')

투자 경고 종목이 아닙니다.

In [36]:
# 119
# 아래와 같이 fruit 딕셔너리가 정의되어 있다. 
# 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

# fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
# >> 제가좋아하는계절은: 봄
# 정답입니다.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
fav_season = input()
if fav_season in fruit:
    print('정답입니다.')
else:
    print('오답입니다.')

정답입니다.

In [40]:
# 120
# 아래와 같이 fruit 딕셔너리가 정의되어 있다. 
# 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

# fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
# >> 좋아하는과일은? 한라봉
# 오답입니다.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
fav_fruit = input()
if fav_fruit in fruit.values():
    print('정답입니다.')
else:
    print('오답입니다.')

오답입니다.

In [44]:
# 121
# 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.

# >> a
# A

# 힌트-1 : islower() 함수는 문자의 소문자 여부를 판별합니다. 
# 만약 소문자일 경우 True, 대문자일 경우 False를 반환합니다. 
# 힌트-2 : upper() 함수는 대문자로, lower() 함수는 소문자로 변경합니다.

a = input()
if a.islower():
    print(a.upper())
else:
    print(a.lower())

A

In [52]:
# 122
# 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.

# 점수	학점
# 81~100	A
# 61~80	B
# 41~60	C
# 21~40	D
# 0~20	E

# >> score: 83
# grade is A

score = int(input())
if score > 80:
    value = 'A'
elif score > 60:
    value = 'B'
elif score > 40:
    value = 'C'
elif score > 20:
    value = 'D'
else:
    value = 'E'
print(f'grade is {value}')

grade is A

In [ ]:
# 123
# 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 
# 각 통화별 환율은 다음과 같다. 
# 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.

# 통화명	환율
# 달러	1167
# 엔	1.096
# 유로	1268
# 위안	171

# >> 입력: 100 달러
# 116700.00 원

In [ ]:
# while 구문

numbers = [1, 2, 3, 4, 5]
idx = 0
total = 0

while idx < len(numbers):
    total += numbers[idx]
    idx += 1

print(total)

15

In [ ]:
# for ... in 구문

numbers = [1, 2, 3, 4, 5]
total = 0

for num in numbers:
    total += num

print(total)

15

In [61]:
numbers = {1, 3, 5, 2, 4}

for num in numbers:
    print(num)

1
2
3
4
5

In [62]:
# 131
# for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [63]:
# 132
# for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [64]:
# 133
# 다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

# for 변수 in ["A", "B", "C"]:
#   print(변수)

변수 = 'A'
print(변수)
변수 = 'B'
print(변수)
변수 = 'C'
print(변수)

A
B
C

In [67]:
# 134
# for문을 풀어서 동일한 동작을하는 코드를 작성하라.

# for 변수 in ["A", "B", "C"]:
#   print("출력:", 변수)

변수 = 'A'
print(f'출력: {변수}')
변수 = 'B'
print(f'출력: {변수}')
변수 = 'C'
print(f'출력: {변수}')

출력: A
출력: B
출력: C

In [70]:
# 135
# for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

# for 변수 in ["A", "B", "C"]:
#   b = 변수.lower()
#   print("변환:", b)

변수 = 'A'
b = 변수.lower()
print(f'변환: {b}')
변수 = 'B'
b = 변수.lower()
print(f'변환: {b}')
변수 = 'C'
b = 변수.lower()
print(f'변환: {b}')

변환: a
변환: b
변환: c

In [ ]:
# 136
# 다음 코드를 for문으로 작성하라.

# 변수 = 10
# print(변수)
# 변수 = 20
# print(변수)
# 변수 = 30
# print(변수)

변수 = [10, 20, 30]
for i in 변수:
    print(i)

10
20
30
10
20
30

In [75]:
# 137
# 다음 코드를 for문으로 작성하라.

# print(10)
# print(20)
# print(30)

for i in [10, 20, 30]:
    print(i)

10
20
30

In [76]:
# 138
# 다음 코드를 for문으로 작성하라.

# print(10)
# print("-------")
# print(20)
# print("-------")
# print(30)
# print("-------")

for i in [10, 20, 30]:
    print(f'{i} -------')

10 -------
20 -------
30 -------

In [77]:
# 139
# 다음 코드를 for문으로 작성하라.

# print("++++")
# print(10)
# print(20)
# print(30)

print('++++')
for i in [10, 20, 30]:
    print(i)

++++
10
20
30

In [78]:
# 140
# 다음 코드를 for문으로 작성하라.

# print("-------")
# print("-------")
# print("-------")
# print("-------")

for i in [1, 2, 3, 4]:
    print('-------')

-------
-------
-------
-------

In [83]:
# 141
# 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 
# 단 부가세는 10원으로 가정한다.

# 리스트 = [100, 200, 300]
# 110
# 210
# 310

리스트 = [100, 200, 300]

for i in 리스트:
    print(i + 10)

110
210
310

In [85]:
# 142
# for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

# 리스트 = ["김밥", "라면", "튀김"]
# 오늘의 메뉴: 김밥
# 오늘의 메뉴: 라면
# 오늘의 메뉴: 튀김

리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print(f'오늘의 메뉴: {i}')

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [86]:
# 143
# 리스트에 주식 종목이름이 저장돼 있다.

# 리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
# 저장된 문자열의 길이를 다음과 같이 출력하라.

# 6
# 4
# 4

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4

In [88]:
# 144
# 리스트에는 동물이름이 문자열로 저장돼 있다.

# 리스트 = ['dog', 'cat', 'parrot']
# 동물 이름과 글자수를 다음과 같이 출력하라.

# dog 3
# cat 3
# parrot 6

리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [90]:
# 145
# 리스트에 동물 이름 저장돼 있다.

# 리스트 = ['dog', 'cat', 'parrot']
# for문을 사용해서 동물 이름의 첫 글자만 출력하라.

# d
# c
# p

리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0])

d
c
p

In [91]:
# 146
# 리스트에는 세 개의 숫자가 바인딩돼 있다.

# 리스트 = [1, 2, 3]
# for문을 사용해서 다음과 같이 출력하라.

# 3 x 1
# 3 x 2
# 3 x 3

리스트 = [1, 2, 3]
for i in 리스트:
    print(f'3 x {i}')

3 x 1
3 x 2
3 x 3

In [93]:
# 147
# 리스트에는 세 개의 숫자가 바인딩돼 있다.

# 리스트 = [1, 2, 3]
# for문을 사용해서 다음과 같이 출력하라.

# 3 x 1 = 3
# 3 x 2 = 6
# 3 x 3 = 9

리스트 = [1, 2, 3]
for i in 리스트:
    print(f'3 x {i} = {i*3}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [96]:
# 148
# 리스트에는 네 개의 문자열이 바인딩돼 있다.

# 리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 나
# 다
# 라

리스트 = ["가", "나", "다", "라"]

for i in 리스트[1:]:
    print(i)

나
다
라

In [ ]:
# 149
# 리스트에는 네 개의 문자열이 바인딩돼 있다.

# 리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 가
# 다

리스트 = ["가", "나", "다", "라"]

for i in 리스트[::2]:
    print(i)

가
다

In [1]:
# 150
# 리스트에는 네 개의 문자열이 바인딩돼 있다.

# 리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 라
# 다
# 나
# 가

리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
    print(i)

라
다
나
가

In [2]:
# 151
# 리스트에는 네 개의 정수가 저장돼 있다.

# 리스트 = [3, -20, -3, 44]
# for문을 사용해서 리스트의 음수를 출력하라.

# -20
# -3

리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i < 0:
        print(i)

-20
-3

In [4]:
# 152
# for문을 사용해서 3의 배수만을 출력하라.

# 리스트 = [3, 100, 23, 44]
# 3

리스트 = [3, 100, 23, 44]

for i in 리스트:
    if i % 3 == 0:
        print(i)

3

In [5]:
# 153
# 리스트에서 20 보다 작은 3의 배수를 출력하라

# 리스트 = [13, 21, 12, 14, 30, 18]
# 12
# 18

리스트 = [13, 21, 12, 14, 30, 18]

for i in 리스트:
    if i < 20:
        if i % 3 == 0:
            print(i)

12
18

In [7]:
# 154
# 리스트에서 세 글자 이상의 문자를 화면에 출력하라

# 리스트 = ["I", "study", "python", "language", "!"]
# study
# python
# language

리스트 = ["I", "study", "python", "language", "!"]

for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [9]:
# 155
# 리스트에서 대문자만 화면에 출력하라.

# 리스트 = ["A", "b", "c", "D"]
# A
# D
# (참고) isupper() 메서드는 대문자 여부를 판별합니다.

# >> 변수 = "A"
# >> 변수.isupper()
# True
# >> 변수 = "a"
# >> 변수.isupper()
# False

리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.isupper() == True:
        print(i)

A
D

In [10]:
# 156
# 리스트에서 소문자만 화면에 출력하라.

# 리스트 = ["A", "b", "c", "D"]
# b
# c

리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.isupper() != True:
        print(i)

b
c

In [ ]:
# 157
# 이름의 첫 글자를 대문자로 변경해서 출력하라.

# 리스트 = ['dog', 'cat', 'parrot']
# Dog
# Cat
# Parrot
# (참고) upper() 메서드는 문자열을 대문자로 변경합니다.

# >> 변수 = "a"
# >> a.upper()
# A
# >> 변수 = "abc"
# >> 변수.upper()
# ABC

리스트 = ['dog', 'cat', 'parrot']