### 11번. 1부터 100까지 숫자 중 5의 배수만 리스트에 저장하여 출력하세요.

리스트 내포(List Comprehension)를 사용해도 좋습니다.

📌 출력 예시:
```
[5, 10, 15, ..., 100]
```

In [ ]:
lst = [n for n in range(1, 101) if n % 5 == 0]

print(lst)


result = []

num = 5
# 반복을 합니다.
# 5를 더하는 행위를.
# 50이 되었을 때까지.
while True:
    result.append(num)
    num += 5

    if num > 50:
        break
print(result)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:


# 5에다가 3 곱함
# 곱한 결과가 50보다 작을 때까지.
result = []
x = 1
while True:
    # 5 * 1
    # 5 * 2
    # 5 * 3
    num = 5 * x
    x += 1

    result.append(num)
    if num == 50:
        break

print(result)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [3]:
result = []
for num in range(1, 101):
    # num이 5의 배수일 때만 result에 넣을게.
    if num % 5 == 0:
        result.append(num)
print(result)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [5]:
result = []
for num in range(5, 101, 5):
    result.append(num)
print(result)

print([num for num in range(5, 101, 5)])

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

### 12번. 짝수만 필터링하여 새로운 리스트 만들기

다음 리스트에서 짝수만 골라 새로운 리스트로 만드세요:
```python
nums = [1,2,3,4,5,6,7,8,9,10]
```
📌 출력 예시:
```
[2, 4, 6, 8, 10]
```

In [8]:
nums = [1,2,3,4,5,6,7,8,9,10]

lst = [n for n in nums if n % 2 == 0]

print(lst)

# 하나하나 확인하면서 짝수인 경우에 새로운 리스트에 넣겠어.
# 새로운 리스트 만들기
result = []

#하나하나 확인하기
for num in nums:
    # 짝수인지
    if num % 2 == 0:
        # 맞으면 넣음
        result.append(num)
print(result)

print([num for num in nums if num % 2 == 0])

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

### 13번. 딕셔너리에서 가장 비싼 과일 찾기

다음 딕셔너리에서 가격이 가장 높은 과일과 그 가격을 출력하세요:
```python
fruits = {'apple': 1000, 'banana': 500, 'orange': 800}
```

In [13]:
fruits = {'apple': 1000, 'banana': 500, 'orange': 800}

#max_price = float('-inf')
max_price = 0
max_price_fruit =''

for fruit, price in fruits.items():
    # 이 조건문을 통과하는 순간 : 최고가가 경신되었을 때.
    if max_price < price:
        max_price = price
        max_price_fruit = fruit

print(max_price_fruit, max_price)

apple 1000

In [22]:
fruits = {'apple': 1000, 'banana': 500, 'orange': 800, 'lemon': 1000}

#max_price = float('-inf')
max_price = 0
max_price_fruit =[]

for fruit, price in fruits.items():
    # 이 조건문을 통과하는 순간 : 최고가가 경신되었을 때.
    if max_price < price:
        max_price = price
        max_price_fruit = [fruit]
    # 최고가가 한번 더 나왔을 때 : 이미 max_price_fruit이라는 곳에 과일이 들어있음.
    elif max_price == price:
        max_price_fruit.append(fruit)

print(max_price_fruit, max_price)

['apple', 'lemon'] 1000

### 14번. 구구단 3단 출력하기

for문을 사용하여 구구단 3단을 출력하세요.

📌 출력 예시:
```
3 x 1 = 3
3 x 2 = 6
...
3 x 9 = 27
```

In [23]:
for n in range(1, 10):
    print(f'3 x {n} = {3 * n}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [3]:
# 2단부터 9단까지 !

for dan in range(2, 10):
    print(f'----------------- {dan} 단 -----------------')
    for num in range(1, 10):
        print(f'{dan} x {num} = {dan * num}')

----------------- 2 단 -----------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
----------------- 3 단 -----------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
----------------- 4 단 -----------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
----------------- 5 단 -----------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
----------------- 6 단 -----------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
----------------- 7 단 -----------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
----------------- 8 단 -----------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
----------------- 9 단 -----------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

### 15번. 문자열에서 각 문자 개수 세기

사용자로부터 문자열을 입력받아, 각 문자가 몇 번 나오는지 딕셔너리 형태로 출력하세요.

📌 예시 입력: `hello`
📌 예시 출력: `{'h':1, 'e':1, 'l':2, 'o':1}`

In [6]:
text = input("문자열을 입력하세요: ")
counter = {}
for char in text:
    # dict는 in 연산시, key만 확인한다.
    if char in counter:
        counter[char] += 1  # 기본에 있는 키의 value만 수정
    else:
        counter[char] = 1  # 없는 키와 value 등록

print(counter)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [11]:
text = input("문자열을 입력하세요: ")
count = {}

for i in text:
    # 처음 나타난 문자면 0 + 1로 1, 이전에 나타났던 문자면 + 1 해서.
    count[i] = count.get(i, 0) + 1
print(count)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

### 16번. 리스트 정렬과 최대/최소 값 찾기

다음 리스트를 오름차순으로 정렬하고, 가장 큰 값과 가장 작은 값을 출력하세요:
```python
nums = [3, 1, 4, 1, 5, 9, 2, 6]
```

In [18]:
nums = [3, 1, 4, 1, 5, 9, 2, 6]

nums.sort()
print(nums)
print(f'가장 큰 값: {nums[-1]}, 가장 작은 값: {nums[0]}')

[1, 1, 2, 3, 4, 5, 6, 9]
가장 큰 값: 9, 가장 작은 값: 1

In [2]:
nums = [3, 1, 4, 1, 5, 9, 2, 6]

minimum = maximum = nums[0]

for n in nums:
    if n > maximum:
        maximum = n
    elif n < minimum:
        minimum = n

print(maximum, minimum)

9 1

### 17번. 회문(Palindrome) 검사

입력받은 단어가 앞에서 읽든 뒤에서 읽든 같은 단어인지 확인하는 프로그램을 작성하세요.

📌 예시: `level` → 회문 / `hello` → 회문 아님

In [33]:
word = input("단어를 입력하세요: ")

# 띄어쓰기 
word = word.replace(' ', '')
word = word.strip()
print(word)

if word == word[::-1]:
    print('회문')
else:
    print('회문 아님')

level
회문

In [34]:
word = input("단어를 입력하세요: ")

word = word.replace(' ', '')
word = word.strip()
print(word)
l_1 = list(word)

l_2 = l_1[::-1]
w = ''.join(l_2)
print(w)

if word == w:
    print('회문')
else:
    print('회문 아님')

level
level
회문

### 18번. 집합 연산: 합집합, 교집합, 차집합

다음 두 집합의 합집합, 교집합, 차집합을 구하세요:
```python
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
```

In [37]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(f'합집합: {A | B}')
print(f'교집합: {A & B}')
print(f'차집합: {A - B}')

합집합: {1, 2, 3, 4, 5, 6, 7, 8}
교집합: {4, 5}
차집합: {1, 2, 3}

In [7]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

combined_list = []

for num in A:
    combined_list.append(num)

for num in B:
    if num not in combined_list:
        combined_list.append(num)

print(f'합집합: {combined_list}')

intersection_list = []

for num in A:
    if num in B:
        if num not in intersection_list:
            intersection_list.append(num)
    
print(f'교집합: {intersection_list}')

different_list = []

for num in A:
    if num not in B:
        different_list.append(num)

print(f'차집합: {different_list}')

합집합: [1, 2, 3, 4, 5, 6, 7, 8]
교집합: [4, 5]
차집합: [1, 2, 3]

### 19번. 1부터 n까지의 합 구하기

사용자로부터 정수 n을 입력받아 1부터 n까지의 합을 구하는 프로그램을 작성하세요.

In [ ]:
n = int(input("정수를 입력하세요: "))

total = 0
for i in range(1, n+1):
    total += i
    
print(total)

5050

In [40]:
n = int(input("정수를 입력하세요: "))
r = range(1, n+1)
idx = 0
total = 0

while idx < n+1:
    total += idx
    idx += 1

print(total)

5050

### 20번. 리스트에서 중복 제거

다음 리스트에서 중복된 값을 제거하고 유일한 값만 남긴 리스트를 출력하세요:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [1]:
nums = [1, 2, 2, 3, 4, 4, 5]

uniq = []

for num in nums:
    if num not in uniq:
        uniq.append(num)

print(uniq)

[1, 2, 3, 4, 5]

In [5]:
nums = [1, 2, 2, 3, 4, 4, 5]

lst = []
if nums:
    lst.append(nums[0])

for i in range(1, len(nums)):
    if nums[i] != nums[i-1]:
        lst.append(nums[i])

print(lst)

[1, 2, 3, 4, 5]